{
"bootstrap": true,
"server": true,
"enable_syslog": true,
"datacenter": "server1",
"addresses" : {
"http": "0.0.0.0"
},
"bind_addr": "{{ vv_lxd_consul_bind_addr }}",
"node_name": "{{ vv_lxd_consul_node_name }}",
"data_dir": "/opt/consul/consuldata",
"acl_default_policy": "allow",
"encrypt": "5KKufILrf186BGlilFDNig=="
}